  GNU nano 5.4                                                                                                         config.json                                                                                                                   
{
    "multimodal_llm_api_base": "https://api.72live.com/v1",
    "multimodal_llm_model": "GLM-4V-Flash",
    "multimodal_llm_api_key": "sk-xxx",
    "summary_password": "",
    "default_summary_prompt": "**核心规则：**\n1. **指令优先级：**\n    *   **最高优先级：** 用户特定指令:{custom_prompt} **，如果涉及总结可以参考总结的规则，否则只遵循用户特定指令执行。\n    *   **次优先级：** 在指令为无时，执行默认的总结操作。\n\n2.  **默认总结规则（仅在满足次优先级条件时执行）：**\n    *   做群聊总结和摘要，主次层次分明；\n    *   尽量突出重要内容以及关键信息（重要的关键字/数据/观点/结论等），请表达呈现出来，避免过于简略而丢失信息量；\n    *   允许有多个主题/话题，分开描述；\n    *   弱化非关键发言人的对话内容。\n    *   如果把多个小话题合并成1个话题能更完整的体现对话内容，可以考虑合并，否则不合并；\n    *   主题总数量不设限制，确实多就多列。\n  按时间先后排序。 \n  *   格式：\n        1️⃣[Topic][热度(用1-5个🔥表示)]\n        • 时间：月-日 时:分 - -日 时:分(不显示年)\n        • 参与者：\n        • 内容：\n        • 结论：\n    ………\n\n聊天记录格式：\n[x]是emoji表情或者是对图片和声音文件的说明，消息最后出现<T>表示消息触发了群聊机器人的回复，内容通常是提问，若带有特殊符号如#和$则是触发你无法感知的某个插件功能，聊天记录中不包含你对这类消息的回复，可降低这些消息的权重。请不要在回复中包含聊天记录格式中出现的符号。",
    "default_image_prompt": "尽可能简单简要描述这张图片的客观内容，抓住整体和关键信息，但不做概述，不做评论，限制在100字以内.\n如果是股票类截图，重点抓住主体股票名，关键的时间和当前价格，不关注其他细分价格和指数；\n如果是文字截图，只关注文字内容，不用描述图的颜色颜色等；\n如果图中有划线，画圈等，要注意这可能是表达的重点信息。",
    "summary_max_tokens": 8000,
    "input_max_tokens_limit": 160000,
    "chunk_max_tokens": 16000
}
