  GNU nano 5.4                                                                                                         config.json                                                                                                                   
{
    "bot_type": "openAI",
    "open_ai_api_base": "https://api.open.com/v1",
    "open_ai_api_key": "sk-xxx",
    "open_ai_model": "gpt-4o-mini",
    "max_words": 2500,
    "max_input_tokens": 4000
}
